In [1]:
import pandas as pd
import matplotlib as plt
import os

In [2]:
objects='MetObjects_Cleaned3.csv'
object_df=pd.read_csv(objects)
object_df

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,County,Country,Region,Object Type,Sub Classification 1,Sub Classification 2,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
0,16.74.49,15,The American Wing,1916,Coin,"Coin, 1/2 Real",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Silver,None,None,NaN,http://www.metmuseum.org/art/collection/search/15,NaN,NaN
1,16.74.27,16,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/16,NaN,NaN
2,16.74.28,17,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/17,NaN,NaN
3,16.74.29,18,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/18,NaN,NaN
4,16.74.30,19,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29313,2020.64.151,839285,The American Wing,2020,Pitcher,"""Animal Kingdom"" cream pitcher",American,American Limoges China Company|Viktor Schrecke...,NaN,1901 |1906,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29314,2020.64.152,839286,The American Wing,2020,Bowl,"""Animal Kingdom"" sugar bowl",American,Viktor Schreckengost|American Limoges China Co...,NaN,1906 |1901,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29315,2020.64.153,839287,The American Wing,2020,Platter,"""Animal Kingdom"" small platter",American,Viktor Schreckengost|American Limoges China Co...,NaN,1906 |1901,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29316,2020.66,839896,"Arts of Africa, Oceania, and the Americas",2020,Cloak,Cloak (Kaitaka aronui),Maori people,NaN,NaN,NaN,...,NaN,New Zealand,NaN,Costumes,Textiles,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29317,1974.Kwoma.Ceiling,845837,"Arts of Africa, Oceania, and the Americas",1978,Ceiling,Ceremonial House Ceiling,Kwoma people,NaN,NaN,NaN,...,NaN,Papua New Guinea,Washkuk Hills,Paintings,Bark,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN

In [3]:
object_df.dtypes

Object Number              object
Object ID                   int64
Department                 object
AccessionYear               int64
Object Name                object
Title                      object
Culture                    object
Artist Display Name        object
Artist Nationality         object
Artist Begin Date          object
Artist End Date            object
Object Begin Date           int64
Century Object Begin        int64
Object End Date             int64
Century Object End Date     int64
Credit Line                object
City                       object
State                      object
County                     object
Country                    object
Region                     object
Object Type                object
Sub Classification 1       object
Sub Classification 2       object
Rights and Reproduction    object
Link Resource              object
Object Wikidata URL        object
Tags                       object
dtype: object

In [4]:
country_df=object_df['Country'].dropna()
country_df

0                  Mexico
1                  Mexico
2                  Mexico
3                  Mexico
4                  Mexico
               ...
29313       United States
29314       United States
29315       United States
29316         New Zealand
29317    Papua New Guinea
Name: Country, Length: 29318, dtype: object

In [5]:
country_list=country_df.value_counts()
print(country_list.unique)

<bound method Series.unique of United States      9202
Peru               3393
France             1613
Byzantine Egypt    1579
Mexico             1516
                   ...
Guyana               23
Chile                23
Borneo               23
Kenya                21
italy                 1
Name: Country, Length: 73, dtype: int64>

In [6]:
unique=object_df['Country'].unique()
unique

array(['Mexico', 'Guatemala', 'United States', 'England', 'Netherlands',
       'France', 'Canada', 'China', 'Spain', 'Japan', 'Czech Republic',
       'Germany', 'Italy', 'Switzerland', 'India', 'Iran', 'Russia',
       'Turkey', 'Peru', 'Democratic Republic of the Congo', 'Cameroon',
       'South Africa', 'Burkina Faso', 'Nigeria', 'Ghana',
       "Côte d'Ivoire", 'Kenya', 'Ethiopia', 'Tanzania', 'Madagascar',
       'Liberia', 'Indonesia', 'Philippines', 'Panama', 'Bolivia',
       'Brazil', 'Ecuador', 'Colombia', 'Papua New Guinea', 'Costa Rica',
       'Philippines ', 'Chile', 'Australia', 'Mali', 'Solomon Islands',
       'Columbia', 'Vanuatu', 'Fiji', 'Gabon', 'Angola', 'Sierra Leone',
       'Republic of Benin', 'New Zealand', 'New Caledonia', 'Austria',
       'Dominican Republic', 'Malaysia', 'Egypt', 'Byzantine Egypt',
       'Syria', 'South Netherlands', 'Belgium', 'italy', 'America',
       'United Kingdom', 'Algeria', 'Tibet', 'Korea', 'Myanmar',
       'Thailand', 'Guyana', 'Borneo', 'Afghanistan'], dtype=object)

In [7]:
region_df=object_df['Region'].dropna()
region_df

70           New England
71           New England
77           New England
78           New England
97           New England
               ...
29197    Sica Sica region
29218     Western Sumatra
29286           Mbem area
29287      Onitsha region
29317       Washkuk Hills
Name: Region, Length: 4129, dtype: object

In [8]:
culture_df=object_df['Culture'].dropna()
culture_df

0             Mexican
1             Mexican
2             Mexican
3             Mexican
4             Mexican
             ...
29313        American
29314        American
29315        American
29316    Maori people
29317    Kwoma people
Name: Culture, Length: 29318, dtype: object

In [9]:
culture_list=culture_df.value_counts()
print(culture_list.unique)

<bound method Series.unique of American                        8443
Coptic                          1573
French                          1169
Mexican                          734
British                          672
                                ...
Nguni peoples                      1
Pukara (or early Tiwanaku)         1
French, American or European       1
North Netherlandish                1
Edo                                1
Name: Culture, Length: 1761, dtype: int64>

In [10]:
culture_unique=object_df['Culture'].unique()
culture_unique

array(['Mexican', 'Guatemalan', 'American', ...,
       'Ancestral Puebloan (Jeddito )',
       'Mississippian (Ancestral Quapaw)', 'Ancestral Caddoan'],
      dtype=object)

In [11]:
country_group_df=object_df.groupby(['Country'])
country_group_df.count().head()

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,State,County,Region,Object Type,Sub Classification 1,Sub Classification 2,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,35,35,35,35,35,35,35,0,0,0,...,0,19,1,35,35,35,0,35,0,0
Algeria,28,28,28,28,28,28,28,0,0,0,...,0,0,10,28,28,28,0,28,0,0
America,256,256,256,256,256,256,256,254,32,204,...,0,253,252,256,256,256,0,256,1,45
Angola,36,36,36,36,36,36,36,0,0,0,...,0,0,8,36,36,36,0,36,1,25
Australia,68,68,68,68,68,68,68,2,0,1,...,0,63,40,68,68,68,0,68,1,18

In [12]:


cln_country_df=object_df.groupby('Country').filter(lambda x: len(x) > 80)
cln_country_df

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,County,Country,Region,Object Type,Sub Classification 1,Sub Classification 2,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
0,16.74.49,15,The American Wing,1916,Coin,"Coin, 1/2 Real",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Silver,None,None,NaN,http://www.metmuseum.org/art/collection/search/15,NaN,NaN
1,16.74.27,16,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/16,NaN,NaN
2,16.74.28,17,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/17,NaN,NaN
3,16.74.29,18,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/18,NaN,NaN
4,16.74.30,19,The American Wing,1916,Peso,"Coin, 1/4 Peso",Mexican,NaN,NaN,NaN,...,NaN,Mexico,NaN,Metal,None,None,NaN,http://www.metmuseum.org/art/collection/search/19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29312,2020.64.150,839280,The American Wing,2020,Plate,"""Animal Kingdom"" cake plate",American,American Limoges China Company|Viktor Schrecke...,NaN,1901 |1906,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29313,2020.64.151,839285,The American Wing,2020,Pitcher,"""Animal Kingdom"" cream pitcher",American,American Limoges China Company|Viktor Schrecke...,NaN,1901 |1906,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29314,2020.64.152,839286,The American Wing,2020,Bowl,"""Animal Kingdom"" sugar bowl",American,Viktor Schreckengost|American Limoges China Co...,NaN,1906 |1901,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29315,2020.64.153,839287,The American Wing,2020,Platter,"""Animal Kingdom"" small platter",American,Viktor Schreckengost|American Limoges China Co...,NaN,1906 |1901,...,NaN,United States,NaN,Ceramics,None,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
29317,1974.Kwoma.Ceiling,845837,"Arts of Africa, Oceania, and the Americas",1978,Ceiling,Ceremonial House Ceiling,Kwoma people,NaN,NaN,NaN,...,NaN,Papua New Guinea,Washkuk Hills,Paintings,Bark,None,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN

In [13]:
group_country_df=cln_country_df.groupby(['Country'])
group_country_df.count()

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,State,County,Region,Object Type,Sub Classification 1,Sub Classification 2,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
Country,,,,,,,,,,,,,,,,,,,,,
America,256,256,256,256,256,256,256,254,32,204,...,0,253,252,256,256,256,0,256,1,45
Austria,113,113,113,113,113,113,113,45,20,26,...,0,54,0,113,113,113,0,113,49,51
Bolivia,195,195,195,195,195,195,195,0,0,0,...,0,0,1,195,195,195,0,195,1,15
Burkina Faso,90,90,90,90,90,90,90,0,0,0,...,0,6,8,90,90,90,0,90,0,68
Byzantine Egypt,1579,1579,1579,1579,1579,1579,1579,0,0,0,...,0,820,0,1579,1579,1579,0,1579,0,961
Cameroon,225,225,225,225,225,225,225,2,0,0,...,0,18,160,225,225,225,0,225,1,136
Canada,367,367,367,367,367,367,367,124,6,122,...,0,332,118,367,367,367,0,367,6,219
China,854,854,854,854,854,854,854,20,1,8,...,1,17,2,854,854,854,0,854,10,473
Colombia,299,299,299,299,299,299,299,1,0,0,...,1,29,25,299,299,299,0,299,5,88
Costa Rica,240,240,240,240,240,240,240,1,0,0,...,2,16,31,240,240,240,0,240,3,129
Côte d'Ivoire,293,293,293,293,293,293,293,3,0,0,...,0,3,230,293,293,293,0,293,0,223
Democratic Republic of the Congo,487,487,487,487,487,487,487,9,3,0,...,9,11,41,487,487,487,0,487,1,242
Ecuador,158,158,158,158,158,158,158,6,1,3,...,0,3,2,158,158,158,0,158,1,75
England,895,895,895,895,895,895,895,355,110,256,...,474,505,7,895,895,895,0,895,13,430
France,1613,1613,1613,1613,1613,1613,1613,349,200,256,...,20,450,64,1613,1613,1613,0,1613,144,597
Germany,815,815,815,815,815,815,815,194,113,135,...,3,175,6,815,815,815,0,815,92,245
Ghana,143,143,143,143,143,143,143,4,2,1,...,0,0,13,143,143,143,0,143,2,97
Guatemala,101,101,101,101,101,101,101,2,0,1,...,0,0,70,101,101,101,0,101,4,28
India,227,227,227,227,227,227,227,4,2,3,...,2,50,7,227,227,227,0,227,4,18
Indonesia,1351,1351,1351,1351,1351,1351,1351,193,2,83,...,0,953,586,1351,1351,1351,3,1351,3,378
Italy,473,473,473,473,473,473,473,140,98,101,...,2,86,5,473,473,473,0,473,29,183
Japan,231,231,231,231,231,231,231,42,20,27,...,1,6,1,231,231,231,17,231,3,20
Mali,331,331,331,331,331,331,331,1,0,0,...,0,0,9,331,331,331,0,331,6,203
Mexico,1516,1516,1516,1516,1516,1516,1516,24,3,8,...,0,499,1160,1516,1516,1516,0,1516,38,647
Nigeria,623,623,623,623,623,623,623,55,17,8,...,0,12,17,623,623,623,0,623,7,469
Panama,107,107,107,107,107,107,107,0,0,0,...,0,31,7,107,107,107,0,107,5,64
Papua New Guinea,844,844,844,844,844,844,844,311,0,282,...,1,134,341,844,844,844,5,844,7,254
Peru,3393,3393,3393,3393,3393,3393,3393,4,1,0,...,1,40,230,3393,3393,3393,0,3393,21,1455
Republic of Benin,118,118,118,118,118,118,118,1,0,1,...,0,0,0,118,118,118,0,118,0,43
Russia,81,81,81,81,81,81,81,10,1,3,...,1,2,3,81,81,81,0,81,0,8
Spain,276,276,276,276,276,276,276,41,29,35,...,0,195,5,276,276,276,0,276,49,177
United Kingdom,193,193,193,193,193,193,193,116,60,69,...,1,106,3,193,193,193,0,193,3,5
United States,9202,9202,9202,9202,9202,9202,9202,5819,1658,5257,...,315,1215,409,9202,9202,9202,54,9202,371,2150

In [14]:
cln_country_list=group_country_df['Counrty'].tolist()
cln_country_list

KeyError: 'Column not found: Counrty'