In [3]:
import pandas as pd
import os

In [5]:
objects='MetObjects_Cleaned.csv'
object_df=pd.read_csv(objects)
object_df

C:\Users\tiij8\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,Subregion,Main Classification,Sub Classification 1,Sub Classification 2,Sub Classification 3,Sub Classification 4,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
0,0.1,246890,Greek and Roman Art,1900,Hydria,Terracotta hydria (water jar),"Greek, South Italian, Apulian",NaN,NaN,NaN,...,NaN,Vases,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
1,0.14,246918,Greek and Roman Art,1900,Statuette of Herakles,Statuette of Herakles,Greek,NaN,NaN,NaN,...,NaN,Bronzes,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
2,0.6,13132,The American Wing,1900,Painting,The Coppersmith,American,Edgar Melville Ward,NaN,1839,...,NaN,Paintings,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q19923985,Interiors|Working|Men
3,0.7,48775,Asian Art,1900,Vase,NaN,Japan,NaN,NaN,NaN,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Vases|Human Figures
4,0.8,188488,European Sculpture and Decorative Arts,1900,Bust,Alexander the Great,Polish,Viktor Brodzki,NaN,1825,...,NaN,Sculpture,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Men|Alexander The Great|Portraits
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206541,X.817,146118,Costume Institute,NaN,Ribbon,Ribbon,American,NaN,NaN,NaN,...,NaN,Blank,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
206542,X.86,47818,Asian Art,NaN,Teapot,NaN,Japan,NaN,NaN,NaN,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Flowers|Teapots
206543,"X.87a, b",45611,Asian Art,NaN,Paintings,十二天像|Twelve Deva Kings (Jūniten),Japan,NaN,NaN,NaN,...,NaN,Paintings,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q78846479,NaN
206544,X.94,328744,Ancient Near Eastern Art,NaN,Earring,Earring,Parthian,NaN,NaN,NaN,...,NaN,Metalwork,Ornaments,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
206545,X.97,469835,Medieval Art,NaN,Statue,Virgin,French,NaN,NaN,NaN,...,NaN,Sculpture,Stone,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN

In [7]:
object_df.dtypes

Object Number              object
Object ID                   int64
Department                 object
AccessionYear              object
Object Name                object
Title                      object
Culture                    object
Artist Display Name        object
Artist Nationality         object
Artist Begin Date          object
Artist End Date            object
Object Begin Date           int64
Century Object Begin        int64
Object End Date             int64
Century Object End Date     int64
Credit Line                object
City                       object
State                      object
County                     object
Country                    object
Region                     object
Subregion                  object
Main Classification        object
Sub Classification 1       object
Sub Classification 2       object
Sub Classification 3       object
Sub Classification 4       object
Rights and Reproduction    object
Link Resource              object
Object Wikidata URL        object
Tags                       object
dtype: object

In [9]:
country_df=object_df['Country'].dropna()
country_df

26                England
42                Bohemia
176         United States
179                France
189           Netherlands
               ...
206524      United States
206535    Byzantine Egypt
206538    Byzantine Egypt
206540    Byzantine Egypt
206545             France
Name: Country, Length: 31748, dtype: object

In [14]:
country_list=country_df.value_counts()
print(country_list.unique)

<bound method Series.unique of United States                                 8950
Peru                                          3393
Byzantine Egypt                               1673
Mexico                                        1527
France                                        1450
                                              ...
Namibia                                          1
Germany or Italy?                                1
Bosnia and Herzegovina (former Yugoslavia)       1
Czechoslovakia or Germany?                       1
Western Germany                                  1
Name: Country, Length: 674, dtype: int64>

In [25]:
unique=object_df['Country'].unique()
unique

array([nan, 'England', 'Bohemia', 'United States', 'France',
       'Netherlands', 'United Kingdom', 'Zambia?',
       'Myanmar (formerly Burma)', 'Myanmar (Burma)', 'China',
       'New Zealand', 'Turkey', 'Netherlands or Belgium', 'Germany',
       'Italy (?)', 'Russia', 'Congo', 'Mexico', 'Italy', 'Spain',
       'China|Mexico', 'Sulawesi', 'Gabon', 'Pakistan', 'Peru', 'Austria',
       'India', 'United States|England', 'Indonesia',
       'United States|United States', 'England|Ireland', 'Egypt',
       'probably North Africa', 'Flemish', 'Southern Italy',
       'Bolivia or Peru', 'England|United States',
       'United States|United States|United States', 'England|France',
       'South Netherlands', 'Brussels', 'Canada', 'United States|Austria',
       'Chile', 'north or central Syria', 'Ireland', 'Belgium',
       'European', 'Germany or France', 'Northern Switzerland (?)',
       'Central Italy', 'Hungary', 'present-day France',
       'England|Netherlands', 'United States|China', 'Venezuela', 'Syria',
       'Switzerland', 'Iran', 'Southern Netherlands', 'Syria (?)',
       'Germany (present day France)', 'Gaul (France)',
       'Laos and Thailand', 'South Italy', 'Northeast Italy', 'Ethiopia',
       'the Netherlands', 'possibly Syria', 'Colombia', 'Byzantine Egypt',
       'Cameroon', 'Burkina Faso', 'Mali or Ghana', 'Nigeria', 'Honduras',
       'South Sudan', 'China|NEW ZEALAND ROTORUA WHAKAREWAREWA',
       'northern France', "Côte d'Ivoire", 'Mali', 'Papua New Guinea',
       'Democratic Republic of the Congo', 'Senegal', 'Vanuatu', 'Ghana',
       'South Africa', 'Solomon Islands', 'North Netherlands',
       'United States(?)', 'Sierra Leone', 'Korea', 'probably Greece',
       'Brazil', 'Czech Republic', 'Guatemala or Mexico',
       'United States|Germany', 'France?', 'French Polynesia', 'Angola',
       'Ecuador', 'Madagascar', 'Republic of Benin', 'Malawi', 'Germany?',
       'Togo', "Côte d'Ivoire or Ghana", 'Nepal', 'Colombia or Ecuador',
       'Philippines', 'Federated States of Micronesia',
       'Republic of Guinea-Bissau', 'New Caledonia', 'The Netherlands',
       'Republic of Kiribati', 'Guatemala', 'Sumatra',
       'Dominican Republic', 'North Netherland', 'Gotland',
       'Republic of Cameroon', 'Liberia', 'Central Europe', 'Tibet',
       'Portugal', 'Japan', 'Australia', 'Panama', 'Costa Rica',
       'Germany or South Germany', 'United States or Canada',
       'United States|France', 'England (possibly)',
       'Probably Democratic Republic of the Congo', 'Austria (mounts)',
       'Chile or Peru', 'Taiwan',
       'Angola or Democratic Republic of the Congo',
       'Nigeria or Republic of Benin', 'England or Germany',
       'Iberian Peninsula', 'Germany (?)', 'United Kingdom or France?',
       'central Europe', 'Mangareva', 'Marquesas Islands',
       'northern Europe', 'United States|India', 'Sudan', 'Niger',
       'Kenya', 'France or Netherlands', 'Greece', 'United States?',
       'Tibet/north India', 'Puerto Rico', 'Scotland', 'Tanzania',
       "Côte d'Ivoire or Liberia", 'Ireland or United Kingdom',
       'Kenya or Tanzania', 'Tanzania/Kenya', 'Iran (Persia)',
       'Carpathian Basin region', 'Mongolia', 'Republic of Timor-Leste',
       'United States|Italy', 'Greece or the Balkans (possibly)',
       'Mauritania', 'India (?)', 'Colombia?', 'Peru?', 'Bolivia',
       'France|United States', 'Bulgaria (possibly)', 'Ecuador or Peru',
       'Republic of Guinea', 'Greece|Turkey', 'Ivory Coast', 'Cambodia',
       'Peru or Ecuador', 'Colombia or Venezuela', 'Kosova',
       'Southern Russia or Black Sea Region (?)', 'Uganda',
       'Republic of Congo', 'Rwanda or Burundi', 'Malaysia',
       'Togo or Ghana', 'Chad', 'Norway',
       'Republic of the Congo or Cabinda, Angola', 'Uzbekistan',
       'Ethiopia or Sudan', 'Samoa', 'Austria?', 'Tunisia', 'Spain?',
       'Italy|United Kingdom', 'France (?)', 'Dem. Rep. Congo',
       'Scandinavia (possibly Sweden)', 'present-day Poland',
       'Turkey|India', 'Democratic Republic of Congo',
       'Papua New Guinea, Prince Alexander Mountains', 'Northern Italy',
       'France or Southern Netherlands', 'Surinam', 'Afghanistan',
       'Pakistan|India', 'Argentina',
       'Belize, Honduras, Guatemala, or Mexico', 'present-day Belgium',
       'Zambia', 'India|United States', 'America',
       'Argentina, Peru, or Bolivia', 'Central Mexico',
       'New Spain (Mexico)', 'Fiji', 'Colombia (?)',
       'Colombia or Costa Rica', 'Brazil|Portugal',
       'Bulgaria or Switzerland', 'Paraguay', 'Cuba', 'Italy?', 'Guyana',
       'Nigeria?', 'Mozambique', 'Uganda or Democratic Republic of Congo',
       'Burmah or Thai', 'United States|British Isles', 'Spain|Mexico',
       'Europe', 'probably Greece or Constantinople',
       'Probably Democratic Republic of Congo', 'Nicomedia',
       'England|England', 'Italy|France', 'Flanders',
       'Spain (?) (setting)', 'Tirana', 'Albania', 'France or Germany',
       'Northern Adriatic', 'North France', 'France or North Spain',
       'North France or South Netherlands', 'Flanders|Mexico',
       'North Africa (box)|Spain (lid)', 'Netherlands or France',
       'Germany or the Netherlands', 'Eastern Mediterranean',
       'south central France', 'South France', 'Sweden', 'French',
       'Spain or Limoges, France', 'Spain|Germany|Mexico',
       'Northern France', 'northern France or western Germany',
       'Russian|Northern France', 'La Tène II', 'Northern France (?)',
       'probably northern France', 'probably northern Italy',
       'Western France', 'Gaul', 'Alamania|Northern France', 'Alamania',
       'Alamania|France', 'Alamanian|Northern France',
       'Northern France|Alamania', 'Niederbreisig', 'Western Germany',
       'Rhein', 'Alamania|Northern France|Germany',
       'Northern France|Germany', 'Germany|Northern France',
       'southern Germany or Switzerland', 'southern Italy',
       'France|NEW ZEALAND ROTORUA WHAKAREWAREWA', 'probably Egypt',
       'Italian', 'Democratic Republic of the Congo?',
       'Costa Rica or Panama',
       'Ecuador, Peru, Bolivia, Chile, or Argentina', 'Tanzania or Kenya',
       'Germany or Austria', 'Burkina Faso (formerly Upper Volta)',
       'Thailand', 'Switzerland|France', 'Peru (?)',
       'Croatia (former Yugoslavia)', 'Macedonia (former Yugoslavia)',
       'Macedonia', 'Bosnia - Herzegovina (former Yugoslavia)',
       'Possibly Greece', 'Belgium?', 'Croatia',
       'Serbia (former Yugoslavia)', 'Bosnia (former Yugoslavia)',
       'Herzegovina (former Yugoslavia)', 'Java', 'Ecuador (?)',
       'Costa Rica (?)', 'Democratic Republic of the Congo or Angola?',
       'Suriname', 'Tahiti', 'Republic of Palau',
       'Gabon or Republic of the Congo', 'Guinea',
       'Gabon or Republic of Congo', 'Rwanda',
       "Burkina Faso or Côte d'Ivoire or Mali",
       "Côte d'Ivoire or Burkina Faso", 'Central African Republic',
       "Guinea or Mali or Burkina Faso or Côte d'Ivoire",
       'Gabon or Equatorial Guinea', 'Republic of the Congo',
       'Nigeria (?)',
       'Democratic Republic of the Congo, Republic of the Congo, or Cabinda, Angola',
       'Democratic Republic of the Congo|Cabinda, Angola|Republic of the Congo',
       'Cameroon or Nigeria', 'Australia or Papua New Guinea',
       'Republic of the Marshall Islands', 'Czech Republic|England',
       'Bohemia|Germany|Italy', 'Philippine Islands',
       'Togo or Ghana (possibly Kpandu)', 'Brazil (?)',
       'Mexico or Guatemala', 'Dominican Republic (?)', 'Tonga',
       'Cook Islands', 'Wallis and Futuna Territory', 'Unknown country',
       "Mali or Côte d'Ivoire", 'Somalia', 'Costa Rica or Nicaragua',
       'Ecuador or Colombia', 'French Guiana', 'Mexico (?)',
       'Liberia or Guinea', 'Tibet|China|India', 'Nigeria or Niger',
       'England|Scotland', 'Burkina Faso or Ghana',
       "Côte d'Ivoire or Ghana (?)", 'Republic of Benin or Togo',
       'Germany or Italy?', 'England?', 'El Salvador or Guatemala',
       'Scandinavia', "Côte d'Ivoire or Mali", 'Ghana (?)', 'Sarawak',
       'Nauru', 'Republic of Kiribati (?)', 'New Guinea',
       'United States|United States|United States|United States',
       "Burkina Faso or Côte d'Ivoire", 'Mozambique?', 'Lower Austria',
       'Ghana or Senegal', 'Nigeria or Congo', 'Probably Burkina Faso',
       'Brazil?', 'Mongolia?', 'Burma?', 'Lesotho', 'Uganda-Sudan',
       'India?', 'Tajikistan', 'Zimbabwe', 'Borneo', 'France or England',
       'Bhutan', 'Coastal Ecuador',
       'Ecuador, Peru, Bolivia, Argentina, or Chile',
       'Egypt or Syria (?)', 'Democratic Republic of Timor-Leste',
       'Vietnam', 'Czechoslovakia or Germany?', 'Tibet/Nepal?',
       'Indonesia?', 'Thailand?', 'Morocco', 'Liberia?',
       'the Iberian peninsula (Spain)', 'Nigeria (made in England)',
       'Nigeria (made in Western Europe)',
       'Nigeria, Ghana or Sierra Leone', 'Costa Rica|Costa Rica',
       'Serbia', 'Italy|United States', 'South Africa or Swaziland',
       'Peru or Bolivia', 'Bolivia (?)', 'Peru or Chile',
       'United States (?)', 'El Salvador', 'Guatemala (?)',
       'Germany (present-day France)', 'Mali or Niger',
       'Democratic Republic of the Congo|Republic of the Congo|Angola',
       'Democratic Republic of the Congo|Angola|Republic of the Congo',
       'Democratic Republic of the Congo or Angola',
       'Tanzania or Mozambique', 'South Africa or Mozambique',
       'Philippines (?)', 'Laos', "Cote d'Ivoire", 'Namibia',
       'Spain or France', 'Indonesia or Malaysia', 'east-central Europe',
       'probably British Isles', 'Sierra Leone or Mali',
       'Republic of  Cameroon', 'Chad?', 'Republic of Cameroon?',
       'Nigeria or Cameroon', 'Zimbabwe or Mozambique', 'Probably Gaul',
       'Sudan?', 'Papua New Guinea|Papua New Guinea', 'France|England',
       'Papua New Guinea or Indonesia', 'Republic of Benin (?)',
       'Northern Tanzania and Kenya', 'Colombia or Panama', 'Ukraine',
       'Benin', 'possibly Hungary', 'Greenland',
       'Canada or United States', 'Czech Republic or Slovakia',
       'former Yugoslavia', 'Guinea Bissau',
       'South Africa or Kingdom of Swaziland', 'Crete ?',
       'Russia|United States', 'Algeria', 'Burkina Faso (?)',
       'Bolivia, Peru, or Chile', 'United States|United States|Canada',
       'Canada|Canada', 'Western Australia',
       'Canada|United States|United States', 'Canada|United States',
       'Southern France', 'Germany|Netherlands',
       'England or Meaux, France', 'France or Spain',
       'Southwestern France', 'present-day Spain', 'perhaps Syria',
       'German', 'Germany or Netherlands', 'South Netherland',
       'Ireland|United States', 'Holland', 'England|Belgium', 'Bermuda',
       'France (cartoon)|Southern Netherlands (woven)',
       'Southern Netherlands (woven)|France (cartoon)',
       'Spain or|Central Italy', 'French|Belgium', 'France (probably)',
       'Austria (possibly)', 'Norway?', 'India|Pakistan', 'Azerbaijan?',
       'Greece?', 'China?', 'Zambia or Zimbabwe', 'Southern India',
       'Syria?', 'Malaysia?', 'Uganda or Kenya', 'Turkey or Azerbaijan',
       'Nepal?', 'Egypt?', 'Madagascar?', 'possibly southern England',
       'possibly Gaul', 'Rome', 'Northern Europe',
       'England or Scandinavia', 'South Netherlandish',
       'Italy or present-day Spain', 'Finland', 'Northern Switzerland',
       'Central or Southern Italian', 'France|France',
       'United States|Denmark', 'Finland|Denmark|United States',
       'Mexico|China', 'Germany|Italy', 'Austrian', 'Bohemia (Hungary)',
       'France|Germany', 'Haute Garonne.',
       'Lake Van region, Vaspurakan (now eastern Turkey)',
       'Austria (now Italy, Trentino-Alto Adige)', 'Scotland or England',
       'Guatemala|Mexico', 'Mexico|Guatemala', 'Ecuador|Philippines',
       'Ecuador|Ecuador', 'Ecuador|Peru', 'Peru|Ecuador',
       'Mexico|Ecuador', 'Ecuador|Mexico', 'China or Korea',
       'Northeastern France', 'United States|England|Scotland|Wales',
       'Spain and Italy', 'United Kingdom?', 'Saudi Arabia',
       'Spain or Yugoslavia', 'Portugal?', 'Japan|China', 'Switzerland?',
       'Netherlands?', 'Friesland', 'China or Japan',
       'Austria or Germany', 'possibly Germany', 'Italian?',
       'possibly Madagascar', 'Probably Sierra Leone', 'Cameroon?',
       'Sierra Leone?', 'Mexico?', 'Algeria or Morocco',
       'Germany or Switzerland', 'Arabia or North Africa',
       'Republic of Cameroon or Gabon?', 'Italy or Germany?',
       'Norfolk Island', 'Turkey or Greece?', 'Sulawesi (Celebes)',
       'India|Nepal', 'Italy or Sicily', 'Czech Republic (Bohemia)',
       'Senegal?', 'Canada: N.A.', 'Bosnia', 'Belgium or France',
       'Gabon?', 'Germany or England', 'Egypt (British repro)',
       'Uganda/Tanzania', 'Mozambique|Zimbabwe|Malawi',
       'France or Belgium', 'Peru|Peru',
       "Liberia-Côte d'Ivoire (Ivory Coast) border", 'Ghana or Nigeria',
       'Borneo or China?', 'United States or Mexico: N.A.',
       'United States or Canada: N.A.', 'Germany or France?',
       'United Kingdom or Germany', 'Ghana?', 'Germany or Belgium',
       'Georgia', 'Iran (Persia) and Turkey', 'Nigeria or Benin',
       'France or Italy', 'Azerbaijan, Armenia or Georgia', 'Russia?',
       'Azerbaijan', 'Japan or China', 'Gambia', 'Turkey?', 'Armenia',
       'Africa', 'Montenegro', 'Poland', 'Japan or Korea',
       'Italy or France', 'Slovenia', 'United States or Germany',
       'Italy or Germany', 'Germany or Italy', 'Germany (probably)',
       'Republic of Madagascar', 'United Kingdom or France',
       'Austria / Germany', 'Uganda/Rwanda', 'Republic of Costa Rica',
       'Costa Rica?', 'United Kingdom ?', 'probably Germany',
       'Thailand and Myanmar (formerly Burma)', 'Iran?',
       'Norway or Sweden', 'England|Germany', 'Germany or Poland',
       'Malta', 'Myanmar', 'Tibet|China', 'Republic of the Philippines',
       'Nicaragua', 'France|Italy', 'Scandinavia or Austria', 'Ireland ?',
       'Austria ?', 'Belgium ?', 'possibly Dem. Rep. Congo',
       'United States or Mexico', 'possibly Guatemala', 'Uganda?',
       'Bosnia and Herzegovina (former Yugoslavia)', 'Persia or Turkey',
       'Uzbekistan or Tajikistan', 'Russia Federation',
       'Russian Federation', 'Probably Germany',
       'Georgia, Republic of  [Azerbaijan, Armenia]',
       'Republic of Congo & Angola', 'Denmark', 'Arabia|Iran',
       'Hungary or Slovenia', 'Montenegro?  Yugoslavia (former)',
       'India (north)', 'possibly Mali', 'Bulgaria', 'Morocco?',
       'Turkey? (old cat. Arabia)', 'Venezuela:N.A.', 'Arabia',
       'China or Mongolia', 'Arabian Peninsula', 'Syria?  Saudia Arabia',
       'Egypt, Bulgaria or Turkey?', 'Bulgaria|Egypt', 'Bulgaria?',
       'possibly Dem. Rep. of Congo', 'Senegal or Gambia', 'Congo?',
       'Benin or Gabon', 'Algeria?', 'probably South Africa',
       'Malawi or Tanzania', 'probably Ethiopia', 'possibly Guyana',
       'United States or Brazil', 'Colombia|Ecuador', 'New Zealand?',
       'New Guinea (Phillipine?)', 'Marshall Islands', 'Possibly Sarawak',
       'former Yugoslavia(?)', 'Romania?', 'Slovakia',
       'Germany, France, or Bohemia', 'United States or Germany ?',
       'Italy (North)', 'Black Sea', 'probably Italy', 'Constantinople',
       'italy', 'Zanzibar', 'Tonga or Samoa', 'France|Switzerland',
       'France|Bernard Turner', 'France|Harold Copping',
       'United States|Wales', 'United States|France|Tibet'], dtype=object)

In [19]:
region_df=object_df['Region'].dropna()
region_df

51                         Mesopotamia
959                       New England
998                               Iran
1615                           Sumatra
1694      Iran or Northern Mesopotamia
                      ...
206521                     Mesopotamia
206522                     Mesopotamia
206523                     Mesopotamia
206530                           Iran
206544             Mesopotamia or Iran
Name: Region, Length: 9515, dtype: object

In [20]:
culture_df=object_df['Culture'].dropna()
culture_df

0         Greek, South Italian, Apulian
1                                 Greek
2                              American
3                                 Japan
4                                Polish
                      ...
206541                         American
206542                            Japan
206543                            Japan
206544                         Parthian
206545                           French
Name: Culture, Length: 206546, dtype: object

In [21]:
culture_list=culture_df.value_counts()
print(culture_list.unique)

<bound method Series.unique of American                                28185
French                                  18296
Greek, Attic                            17312
Japan                                   16681
China                                   13360
                                        ...
Bwa or Nuna                                 1
Malayan (scabbard possibly Sumatran)        1
Mayumba                                     1
Dogon?                                      1
Byzantine or Germanic                       1
Name: Culture, Length: 7099, dtype: int64>

In [24]:
culture_unique=object_df['Culture'].unique()
culture_unique

7099

In [37]:
country_group_df=object_df.groupby(['Country'])
country_group_df.count().head()

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,Subregion,Main Classification,Sub Classification 1,Sub Classification 2,Sub Classification 3,Sub Classification 4,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,37,37,37,36,37,37,37,0,0,0,...,0,37,34,25,18,0,0,37,0,0
Africa,4,4,4,4,4,4,4,0,0,0,...,0,4,4,3,1,0,0,4,0,0
Alamania,3,3,3,3,3,3,3,0,0,0,...,0,3,3,0,0,0,0,3,0,0
Alamanian|Northern France,1,1,1,1,1,1,1,0,0,0,...,0,1,1,0,0,0,0,1,0,0
Alamania|France,1,1,1,1,1,1,1,0,0,0,...,0,1,1,0,0,0,0,1,0,0

In [41]:


cln_country_df=object_df.groupby('Country').filter(lambda x: len(x) > 80)
cln_country_df

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,Subregion,Main Classification,Sub Classification 1,Sub Classification 2,Sub Classification 3,Sub Classification 4,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
26,3.2,475175,Medieval Art,1903,Coin,Coin with Rose Noble and Edward IV,British,NaN,NaN,NaN,...,NaN,Coins,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Coins|Coat of Arms
176,6.1206,8162,The American Wing,1906,Tall clock,Tall Clock,American,Tiffany & Co.,NaN,1837,...,NaN,Furniture,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
179,6.1216,462801,The Cloisters,1906,Statue,St. Cosmas or St. Damian (?),French,NaN,NaN,NaN,...,NaN,Sculpture,Stone,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Men
191,6.1245,504951,Musical Instruments,1906,Banjo,Banjo,British,NaN,NaN,NaN,...,NaN,Chordophone,Lute,plucked,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
196,6.1251,504956,Musical Instruments,1906,Bell,Bell,Chinese,NaN,NaN,NaN,...,NaN,Idiophone,Struck,bell,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206524,X.707,14991,The American Wing,NaN,Tile,Tile,American,Henry Chapman Mercer|Moravian Pottery and Tile...,NaN,1856 |1899,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Men
206535,X.79,474437,Medieval Art,NaN,Ostrakon,Ostrakon,Coptic,NaN,NaN,NaN,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Documents
206538,X.80,474438,Medieval Art,NaN,Ostrakon,Ostrakon,Coptic,NaN,NaN,NaN,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Documents
206540,X.81,474439,Medieval Art,NaN,Ostrakon,Ostrakon,Coptic,NaN,NaN,NaN,...,NaN,Ceramics,NaN,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,Documents
206545,X.97,469835,Medieval Art,NaN,Statue,Virgin,French,NaN,NaN,NaN,...,NaN,Sculpture,Stone,NaN,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,NaN,NaN

In [43]:
group_country_df=cln_country_df.groupby(['Country'])
group_country_df.count()

,Object Number,Object ID,Department,AccessionYear,Object Name,Title,Culture,Artist Display Name,Artist Nationality,Artist Begin Date,...,Subregion,Main Classification,Sub Classification 1,Sub Classification 2,Sub Classification 3,Sub Classification 4,Rights and Reproduction,Link Resource,Object Wikidata URL,Tags
Country,,,,,,,,,,,,,,,,,,,,,
America,256,256,256,256,256,256,256,254,32,204,...,0,256,256,0,0,0,0,256,1,45
Austria,115,115,115,115,115,115,115,46,21,27,...,0,115,112,37,20,0,0,115,49,52
Bolivia,164,164,164,164,164,164,164,0,0,0,...,0,164,156,39,17,0,0,164,1,15
Burkina Faso,91,91,91,91,91,91,91,0,0,0,...,0,91,91,0,0,0,0,91,0,68
Byzantine Egypt,1673,1673,1673,1642,1673,1673,1673,4,0,4,...,0,1673,496,29,0,0,0,1673,0,1011
Cameroon,232,232,232,232,232,232,232,2,0,0,...,0,232,230,4,0,0,0,232,2,141
Canada,376,376,376,375,376,376,376,126,6,124,...,0,376,365,110,2,0,0,376,6,223
China,858,858,858,857,858,858,858,21,1,8,...,0,858,177,162,78,0,0,858,11,474
Colombia,333,333,333,299,333,333,333,1,0,0,...,0,333,332,32,1,0,0,333,6,91
Costa Rica,198,198,198,198,198,198,198,1,0,0,...,0,198,198,47,0,0,0,198,3,91
Côte d'Ivoire,298,298,298,298,298,298,298,3,0,0,...,0,298,294,0,0,0,0,298,0,227
Democratic Republic of the Congo,493,493,493,493,493,493,493,8,3,0,...,0,493,464,52,14,0,0,493,1,237
Ecuador,129,129,129,129,129,129,129,3,1,3,...,0,129,125,3,1,0,0,129,1,64
England,877,877,877,863,877,877,877,348,108,249,...,0,877,69,14,8,0,0,877,12,429
France,1450,1450,1450,1288,1450,1450,1450,354,202,259,...,0,1450,1028,279,102,0,0,1450,143,568
Germany,837,837,837,834,836,837,837,208,124,144,...,0,837,693,239,97,0,0,837,102,277
Ghana,149,149,149,149,149,149,149,5,3,1,...,0,149,133,10,3,0,0,149,2,101
Guatemala,100,100,100,100,100,100,100,2,0,1,...,0,100,81,8,1,0,0,100,4,26
India,237,237,237,237,237,237,237,3,2,2,...,0,237,223,182,93,0,0,237,4,18
Indonesia,1386,1386,1386,1386,1386,1386,1386,193,2,83,...,0,1386,1341,53,25,0,3,1386,4,387
Italy,476,476,476,475,476,476,476,145,101,105,...,0,476,364,225,121,0,0,476,34,188
Japan,235,235,235,234,235,235,235,41,20,26,...,0,235,209,192,95,0,17,235,3,20
Mali,338,338,338,338,338,338,338,2,0,1,...,0,338,334,5,0,0,0,338,6,206
Mexico,1527,1527,1527,1524,1527,1527,1527,24,3,8,...,0,1527,1310,103,12,0,0,1527,40,650
Nigeria,631,631,631,629,630,631,631,55,17,8,...,0,631,618,26,2,0,0,631,7,471
Northern France,138,138,138,138,138,138,138,0,0,0,...,0,138,133,0,0,0,0,138,0,11
Panama,109,109,109,109,109,109,109,0,0,0,...,0,109,109,4,0,0,0,109,5,66
Papua New Guinea,877,877,877,877,877,877,877,311,0,282,...,0,877,840,12,3,0,5,877,7,262
Peru,3393,3393,3393,3387,3393,3393,3393,4,1,0,...,0,3393,3367,54,11,0,0,3393,21,1458
Philippines,81,81,81,81,81,81,81,1,0,0,...,0,81,80,11,4,0,0,81,1,12
Republic of Benin,119,119,119,119,119,119,119,1,0,1,...,0,119,119,0,0,0,0,119,0,43
Russia,82,82,82,82,82,82,82,9,1,2,...,0,82,78,76,48,0,0,82,0,7
Spain,282,282,282,281,281,282,282,40,29,34,...,0,282,152,39,23,0,0,282,50,179
United Kingdom,202,202,202,202,202,202,202,120,60,70,...,0,202,187,170,68,0,0,202,3,6
United States,8950,8950,8950,8884,8950,8950,8950,5712,1641,5150,...,0,8950,1125,460,175,0,54,8950,362,2111
United States|England,127,127,127,123,127,127,127,5,2,4,...,0,127,1,1,1,0,0,127,0,24
United States|United States,245,245,245,245,245,245,245,140,16,120,...,0,245,2,0,0,0,0,245,20,36
present-day France,178,178,178,178,178,178,178,1,1,1,...,0,178,176,5,0,0,0,178,6,57

In [44]:
cln_country_list=group_country_df['Counrty'].tolist()
cln_country_list

KeyError: 'Column not found: Counrty'